<!DOCTYPE html>

<html ng-app="loginEmpreende">
<head>
    <meta charset="utf-8" />
    <title>Empreende Master Login</title>
    <script src="../AngularJs/ajax.googleapis.com_ajax_libs_angularjs_1.8.2_angular.min.js"></script>
    <script src="../JS/bootstrap.js"></script>
    <style src="../CSS/bootstrap.css"></style>
    <script></script>
</head>
<body>
    <form name="loginForm" ng-submit="autorizacaoLogin(dadosLogin)">
        <div class="mb-3">
            <label for="loginEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="loginEmail" placeholder="email@dominio.com.br" ng-model="dadosLogin.email">
        </div>
        <div class="mb-3">
            <label for="senhaEmail" class="form-label">Senha</label>
            <input type="password" class="form-control" id="senhaEmail" ng-model="dadosLogin.senha">
        </div>
        <div>
            <button class="btn-light" type="submit">Login</button>
        </div>
    </form>

</body>
</html>